<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        div {
            border: 1px solid #000000;
        }
    </style>
</head>
<body>
<div class="container">
    <hr>
    <div class="row center">
        <p class="flow-text">Price: 23$</p>
        <p class="flow-text">You can buy 12</p>
    </div>
    <div class="row">
        <div class="col l1 offset-m6 offset-l5">
            <a class="btn-floating btn-large waves-effect"><i class="material-icons">add</i></a>
        </div>
        <div class="col l1">
            <input id="last_name" type="text" min="1" style="text-align: center; font-size: 22px"
                   class="validate">
        </div>
        <div class="col l1">
            <a class="btn-floating btn-large waves-effect"><i class="material-icons">remove</i></a>
        </div>
    </div>
</div>
</body>
</html>