<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Teltan</title>
	<link rel="stylesheet" href="../src/assets/css/style.css">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<div class="container">
				<div class="header__body">
					<a href="#" class="header__logo">
						<img src="../src/assets/images/logo.png" alt="Teltan">
					</a>
					<nav class="header__menu">
						<a href="index.html" class="header__link">Home</a>
						<a href="catalog.html" class="header__link">Catalog</a>
						<a href="#" class="header__link">Contact</a>
						<a href="#" class="header__link">About</a>
					</nav>
					<div class="header__content">
						<div class="header__item item-user">
							<img src="../src/assets/images/icons/user-avatar.svg" alt="User">
							<div class="item-user__block">
								<div class="item-user__header">
									<div class="item-user__icon"><img src="../src/assets/images/icons/user.svg" alt="User avatar"></div>
									<div class="item-user__name">User-name</div>
								</div>
								<a href="profile.html" class="item-user__link">Profile</a>
								<a href="#" class="item-user__link">History</a>
								<a href="#" class="item-user__link">sign out</a>
							</div>
						</div>
						<div class="header__item item-balance">
							<img src="../src/assets/images/icons/wallet.svg" alt="Balance">
							<div class="item-balance__block">
								<div class="item-balance__title">balance: <img src="../src/assets/images/icons/coins.svg" alt=""> 10.0</div>
								<div class="item-balance__text">Tenete ergo quod si servitus quae natura liber, et aliena tua tunc impedilur. Dolebis, et turbabuntur</div>
								<div class="item-balance__block-control">
									<a href="#" class="item-balance__link btn"><span>add</span></a>
									<div class="item-balance__rate">1 <img src="../src/assets/images/icons/coins-icon.svg" alt=""> = 1$</div>
									<a href="#" class="item-balance__link btn"><span>withdraw</span></a>
								</div>
							</div>
						</div>
						<a href="#declaration" class="header__item pl"><img src="../src/assets/images/icons/basket.svg" alt="Basket"></a>
						<a href="#" class="header__item"><img src="../src/assets/images/icons/email.svg" alt="Email"></a>
					</div>
					<div class="icon-menu">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</header>

		<section class="catalog">
			<div class="container">
				<h2 class="catalog__title">Catalog</h2>

				<nav class="catalog__menu">
					<ul class="catalog__list">
						<li class="show">
							<a href="section.html" class="catalog__link">
								<img src="../src/assets/images/icons/mobile-icon.svg" alt="">
								<span>Электроника</span>
							</a>
						</li>
						<li>
							<a href="section.html" class="catalog__link">
								<img src="../src/assets/images/icons/mobile-icon.svg" alt="">
								<span>Компьютеры и сети</span>
							</a>
						</li>
						<li>
							<a href="section.html" class="catalog__link">
								<img src="../src/assets/images/icons/mobile-icon.svg" alt="">
								<span>Бытовая техника</span>
							</a>
						</li>
						<li>
							<a href="section.html" class="catalog__link">
								<img src="../src/assets/images/icons/mobile-icon.svg" alt="">
								<span>Стройка и ремонт</span>
							</a>
						</li>
						<li>
							<a href="section.html" class="catalog__link">
								<img src="../src/assets/images/icons/mobile-icon.svg" alt="">
								<span>Дом и сад</span>
							</a>
						</li>
						<li>
							<a href="section.html" class="catalog__link">
								<img src="../src/assets/images/icons/mobile-icon.svg" alt="">
								<span>Авто и мото</span>
							</a>
						</li>
						<li>
							<a href="section.html" class="catalog__link">
								<img src="../src/assets/images/icons/mobile-icon.svg" alt="">
								<span>Красота и спорт</span>
							</a>
						</li>
						<li>
							<a href="section.html" class="catalog__link">
								<img src="../src/assets/images/icons/mobile-icon.svg" alt="">
								<span>Детям и мамам</span>
							</a>
						</li>
						<li>
							<a href="section.html" class="catalog__link">
								<img src="../src/assets/images/icons/mobile-icon.svg" alt="">
								<span>Работа и офис</span>
							</a>
						</li>
						<li>
							<a href="section.html" class="catalog__link">
								<img src="../src/assets/images/icons/mobile-icon.svg" alt="">
								<span>Еда</span>
							</a>
						</li>
					</ul>
				</nav>

				<div class="catalog__section section">
					<h3 class="section__title">Электроника</h3>
					<table class="section__table table-section">
						<tr>
							<td class="table-section__user"><img src="../src/assets/images/icons/user-avatar.svg" alt=""></td>
							<td class="table-section__text">Sic de isto et tutius perducit ad actum ipsum, ut si "Ego autem vadam lavari, ut</td>
							<td class="table-section__value"><span>80%</span></td>
							<td class="table-section__image"><img src="../src/assets/images/user-photo.jpg" alt=""></td>
						</tr>
						<tr>
							<td class="table-section__user"><img src="../src/assets/images/icons/user-avatar.svg" alt=""></td>
							<td class="table-section__text">Sic de isto et tutius perducit ad actum ipsum, ut si "Ego autem vadam lavari, ut</td>
							<td class="table-section__value"><span>7800 &#8362;</span></td>
							<td class="table-section__image"><img src="../src/assets/images/user-photo.jpg" alt=""></td>
						</tr>
						<tr>
							<td class="table-section__user"><img src="../src/assets/images/icons/user-avatar.svg" alt=""></td>
							<td class="table-section__text">Sic de isto et tutius perducit ad actum ipsum, ut si "Ego autem vadam lavari, ut</td>
							<td class="table-section__value"><span>80%</span></td>
							<td class="table-section__image"><img src="../src/assets/images/user-photo.jpg" alt=""></td>
						</tr>
						<tr>
							<td class="table-section__user"><img src="../src/assets/images/icons/user-avatar.svg" alt=""></td>
							<td class="table-section__text">Sic de isto et tutius perducit ad actum ipsum, ut si "Ego autem vadam lavari, ut</td>
							<td class="table-section__value"><span>80%</span></td>
							<td class="table-section__image"><img src="../src/assets/images/user-photo.jpg" alt=""></td>
						</tr>
						<tr>
							<td class="table-section__user"><img src="../src/assets/images/icons/user-avatar.svg" alt=""></td>
							<td class="table-section__text">Sic de isto et tutius perducit ad actum ipsum, ut si "Ego autem vadam lavari, ut</td>
							<td class="table-section__value"><span>80%</span></td>
							<td class="table-section__image"><img src="../src/assets/images/user-photo.jpg" alt=""></td>
						</tr>
						<tr>
							<td class="table-section__user"><img src="../src/assets/images/icons/user-avatar.svg" alt=""></td>
							<td class="table-section__text">Sic de isto et tutius perducit ad actum ipsum, ut si "Ego autem vadam lavari, ut</td>
							<td class="table-section__value"><span>80%</span></td>
							<td class="table-section__image"><img src="../src/assets/images/user-photo.jpg" alt=""></td>
						</tr>
						<tr>
							<td class="table-section__user"><img src="../src/assets/images/icons/user-avatar.svg" alt=""></td>
							<td class="table-section__text">Sic de isto et tutius perducit ad actum ipsum, ut si "Ego autem vadam lavari, ut</td>
							<td class="table-section__value"><span>80%</span></td>
							<td class="table-section__image"><img src="../src/assets/images/user-photo.jpg" alt=""></td>
						</tr>
						<tr>
							<td class="table-section__user"><img src="../src/assets/images/icons/user-avatar.svg" alt=""></td>
							<td class="table-section__text">Sic de isto et tutius perducit ad actum ipsum, ut si "Ego autem vadam lavari, ut</td>
							<td class="table-section__value"><span>80%</span></td>
							<td class="table-section__image"><img src="../src/assets/images/user-photo.jpg" alt=""></td>
						</tr>
						<tr>
							<td class="table-section__user"><img src="../src/assets/images/icons/user-avatar.svg" alt=""></td>
							<td class="table-section__text">Sic de isto et tutius perducit ad actum ipsum, ut si "Ego autem vadam lavari, ut</td>
							<td class="table-section__value"><span>80%</span></td>
							<td class="table-section__image"><img src="../src/assets/images/user-photo.jpg" alt=""></td>
						</tr>
						<tr>
							<td class="table-section__user"><img src="../src/assets/images/icons/user-avatar.svg" alt=""></td>
							<td class="table-section__text">Sic de isto et tutius perducit ad actum ipsum, ut si "Ego autem vadam lavari, ut</td>
							<td class="table-section__value"><span>80%</span></td>
							<td class="table-section__image"><img src="../src/assets/images/user-photo.jpg" alt=""></td>
						</tr>
						<tr>
							<td class="table-section__user"><img src="../src/assets/images/icons/user-avatar.svg" alt=""></td>
							<td class="table-section__text">Sic de isto et tutius perducit ad actum ipsum, ut si "Ego autem vadam lavari, ut</td>
							<td class="table-section__value"><span>80%</span></td>
							<td class="table-section__image"><img src="../src/assets/images/user-photo.jpg" alt=""></td>
						</tr>
					</table>
				</div>

			</div>
		</section>

		<div class="popup popup-noMoney">
			<div class="popup-table table">
				<div class="cell">
					<div class="popup-content noMoney-popup">
						<div class="noMoney-popup__body">
							<div class="noMoney-popup__title">не достаточно средств</div>
							<div class="noMoney-popup__control">
								<div class="noMoney-popup__button">
									<a href="#" class="btn popup-close"><span>обратно</span></a>
								</div>
								<div class="noMoney-popup__button">
									<a href="#sponsorQuantity" class="btn pl"><span>пополнить coins</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="popup popup-sponsorQuantity">
			<div class="popup-table table">
				<div class="cell">
					<div class="popup-content sponsorQuantity-popup">
						<div class="sponsorQuantity-popup__title">введите количество:</div>
						<div class="sponsorQuantity-popup__body">
							<div class="sponsorQuantity-popup__input-block">
								<label for="" class="sponsorQuantity-popup__label">ввод количества coins</label>
								<input type="text" class="sponsorQuantity-popup__input" placeholder="123 coins">
							</div>
							<div class="sponsorQuantity-popup__arrow"><img src="../src/assets/images/icons/arrow-next.svg" alt=""></div>
							<div class="sponsorQuantity-popup__input-block">
								<label for="" class="sponsorQuantity-popup__label">конвертер в NIS</label>
								<input type="text" class="sponsorQuantity-popup__input" placeholder="123 &#8362;">
							</div>
						</div>
						<a href="#" class="sponsorQuantity-popup__button btn popup-close"><span>продолжить</span></a>
					</div>
				</div>
			</div>
		</div>

		<div class="popup popup-declaration">
			<div class="popup-table table">
				<div class="cell">
					<div class="popup-content declaration-popup">
						<div class="declaration-popup__body">
							<div class="declaration-popup__button">
								<a href="#agreement" class="btn pl"><span>Разыграть</span></a>
							</div>
							<div class="declaration-popup__button">
								<a href="#agreement" class="btn pl"><span>Продам</span></a>
							</div>
							<div class="declaration-popup__button">
								<a href="#agreement" class="btn pl"><span>Куплю</span></a>
							</div>
							<div class="declaration-popup__button">
								<a href="#agreement" class="btn pl"><span>Услуга</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="popup popup-agreement">
			<div class="popup-table table">
				<div class="cell">
					<div class="popup-content agreement-popup">
						<div class="agreement-popup__text">Пользовательское солашение <br>(розыгрыши товаров и услуг)</div>
						<div class="agreement-popup__control">
							<a href="#donate" class="agreement-popup__button btn pl"><span>Принять</span></a>
							<a href="#donate" class="agreement-popup__button btn popup__close"><span>Отказаться</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="popup popup-donate">
			<div class="popup-table table">
				<div class="cell">
					<div class="popup-content donate-popup">
						<div class="donate-popup__input-block">
							<label for="min-sum" class="donate-popup__label">укажите минимальную сумму донатов</label>
							<input name="min-sum" id="min-sum" type="text" class="donate-popup__input">
						</div>
						<div class="donate-popup__input-block">
							<label for="des-sum" class="donate-popup__label">укажите желаемую сумму донатов</label>
							<input name="des-sum" id="des-sum" type="text" class="donate-popup__input">
						</div>
						<div class="donate-popup__input-block">
							<label for="sum" class="donate-popup__label">сумма с учетом комиссии (10%), <br>(она же и будет выведена)</label>
							<input name="sum" id="sum" type="text" class="donate-popup__input">
						</div>
						<a href="#form" class="donate-popup__button btn pl"><span>Далее</span></a>
					</div>
				</div>
			</div>
		</div>

		<div class="popup popup-form">
			<div class="popup-table table">
				<div class="cell">
					<div class="popup-content form-popup">
						<form action="#" class="form-popup__form">
							<div class="form-popup__input-block">
								<label for="section" class="form-popup__label">Раздел:</label>
								<input name="section" id="section" type="text" class="form-popup__input">
							</div>
							<div class="form-popup__input-block">
								<label for="title" class="form-popup__label">Заголовок:</label>
								<input name="title" id="title" type="text" class="form-popup__input">
							</div>
							<div class="form-popup__input-block">
								<label for="adres" class="form-popup__label">Местонахождение:</label>
								<input name="adres" id="adres" type="text" class="form-popup__input">
							</div>
							<div class="form-popup__input-block">
								<label for="text" class="form-popup__label">Подробно опишите товар или услугу:</label>
								<textarea name="text" id="text" class="form-popup__input"></textarea>
							</div>
							<div class="form-popup__input-block">
								<label for="description" class="form-popup__label">Краткое описание:</label>
								<input name="description" id="description" type="text" class="form-popup__input">
							</div>
							<div class="form-popup__input-block">
								<label for="cost" class="form-popup__label">Цена:</label>
								<input name="cost" id="cost" type="text" class="form-popup__input">
							</div>
							<div class="form-popup__input-block">
								<label for="file" class="form-popup__label form-popup__label-file">Загрузить изображение:</label>
								<input name="file" id="file" type="file" class="form-popup__input">
							</div>
							<button class="form-popup__button btn popup-close">добавить объявление</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="../src/assets/js/slick.min.js"></script>
		<script src="../src/assets/js/script.js"></script>
	</div>
</body>
</html>
