<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
    <style>
        img {
            max-width: 100%;
            height: auto;
            width: auto \9; /* ie8 */
        }

        /*div {*/
        /*    border: 1px solid #000000;*/
        /*}*/

        i {
            vertical-align: -4px;
        }
    </style>
</head>
<body>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col l12">
                <h4> Boxing Gloves <i class="green-text">• 28₪</i></h4>
                <small style="font-size: 22px"><i
                        class="material-icons prefix">remove_red_eye</i> 312 &nbsp&nbsp&nbsp<i
                        class="material-icons prefix">date_range
                </i> 25 января 2021&nbsp&nbsp&nbsp<b>ID:</b> 123121123</small>
            </div>
        </div>
        <div class="col l8 m12 s12">
            <hr>
            <div class="row">
                <div class="col l12">
                    <div>
                        <img src="/home/vlad/Pictures/израиль1.png" width="760">
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col l12 s12">
                    <p class="flow-text center">Redeemed 87%</p>
                    <div class="progress z-depth-2" style="height: 23px; padding: 0;">
                        <div class="determinate" style="width: 70%;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l12 s12">
                        <div class="col s4 l4 center">Tickets amount: 12000</div>
                        <div class="col s4 l4 center">You bought: 31 (12,6%)</div>
                        <div class="col s4 l4 center">Tickets bought: 2122</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col l4 m6 s6 center offset-m3 offset-l4 offset-s3">
                        <button class="waves-effect btn green z-depth-1">Become a sponsor</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col l12">
                    <p style="font-size: 20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut placerat
                        volutpat
                        nisl, vitae
                        tristique eros fermentum id. Aliquam erat volutpat. Nulla a velit a risus iaculis sagittis.
                        Etiam nec interdum turpis. Etiam a ultrices risus. Vestibulum eu pellentesque ipsum. Aliquam
                        justo est, vehicula egestas lacinia finibus, posuere semper ex. Quisque in luctus leo, in dictum
                        sapien. Pellentesque mattis nisi eget erat dapibus consequat.</p>
                </div>
            </div>
        </div>
        <div class="col l4 s12 m12">
            <div class="row">
                <div class="col offset-m4 offset-l2 offset-s3">
                    <div>
                        <img src="/home/vlad/Downloads/profile_pic.jpg" class="circle responsive-img" width="210">
                    </div>
                    <div class="center">
                        <p class="flow-text">Valdis</p>
                        <button class="btn waves-effect waves-light btn-" type="submit" name="action">
                            SHOW USER CONTACTS
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col l12 m12 s12 center">
                    <ul style="font-size: 22px;">
                        <li><b>ID:</b> 12321</li>
                        <li><b>Type:</b> Draw</li>
                        <li><b>Price:</b> 28&#8362;</li>
                        <li><b>Year:</b> 2021</li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
