<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        div {
            border: 1px solid #000000;
        }
    </style>
</head>
<body>
<div class="row center">
    <div class="col l4">
        <h5 class="center">Vladik contacts</h5>
    </div>
</div>
<div class="row center">
    <div class="col l4">
        <p class="center"><b>Name:</b> Vlad</p>
        <p class="center"><b>Email:</b> Vlad@mail.com</p>
    </div>
</div>
</body>
</html>